@app-background-base: rgb(255, 255, 255);

@brand-color-base: rgb(0, 138, 208);
@border-color-base: rgb(204, 204, 204);

@text-color-base: #333;
@text-color-on-brand-color-base: rgb(255, 255, 255);

@font-family-base: Georgia, sans;
@font-family-headline-light: "Agile Light", Arial, sans-serif;
@font-family-headline-bold: "Agile Bold", Arial, sans-serif;

@line-height-content: 1.4;
