.app {
  margin: 0 auto;
  max-width: 60rem;

  &_content,
  &_aside {
    float: left;
  }

  &_content {
    width: 75%;
  }

  &_aside {
    width: 25%;
  }

  &_content + &_aside {
    padding-left: 1rem;
  }
}
