.aside {
  padding: 0 0 1rem 3rem;

  &_headline {
    border-top: 3px solid @brand-color-base;
    margin: 0 0 1rem 0;
    padding: .8rem 0 0 0;

    a {
      color: @text-color-base;
      text-decoration: none;
    }
  }

  &_image {
    height: auto;
    max-width: 100%;
  }

 &_widget + &_widget {
   margin-top: 2rem;
 }
}

@media only screen and (max-width: 768px) {
  .aside {
    margin-top: 3rem;
    padding: 0;
  }
}
