.aside {
  padding: 0 0 1rem 3rem;

  &_headline {
    border-top: 3px solid @brand-color-base;
    margin: 1rem 0;
    padding: .5rem 0 0 0;

    a {
      color: @text-color-base;
      text-decoration: none;
    }
  }

  &_image {
    height: auto;
    max-width: 100%;
  }
}
