.button {
  background: @brand-color-base;
  border: none;
  color: @text-color-on-brand-color-base;
  padding: .25rem .8rem;
  text-decoration: underline;

  &:hover,
  &:focus {
    background: darken(@brand-color-base, 15%);
  }

  &:active {
    background: darken(@brand-color-base, 25%);
  }
}
