.intro {
  &_container {
    margin: 0 0 4rem 0;
    position: relative;
  }

  &_content {
    background: @app-background-base;
    padding: 2.5rem;
    position: absolute;
    right: 3rem;
    top: 3rem;
  }

  &_headline {
    margin: 0 0 4rem 0;
    padding: 0;
  }

  &_media {
    font-size: 0;
    line-height: 1;

    &--video {
      height: 0;
      overflow: hidden;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
    }

    img {
      height: auto;
      width: 100%;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &_text {
    a {
      font-family: @font-family-headline-light;
    }
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    float: none;
    padding: 1rem;

    &_container {
      margin-bottom: 1.5rem;
    }

    &_headline {
      margin-bottom: .5rem;
    }

    &_content {
      background: rgba(0, 0, 0, .8);
      bottom: 0;
      color: @text-color-on-background-color-on-image-transparent;
      left: 0;
      padding: 1rem 1.5rem;
      right: auto;
      top: auto;
      width: 100%;
    }

    &_text {
      p {
        margin: 0;
      }

      &,
      .richtext a {
        color: @text-color-on-background-color-on-image-transparent;
      }
    }
  }
}
