.intro {
  &_container {
    margin: 0 0 4rem 0;
    position: relative;
  }

  &_container:hover &_content > a,
  &_container:focus &_content > a {
    text-decoration: underline;
  }

  &_container--video {
    border: 1px solid @border-color-base;
  }

  &_container--video &_media {
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
  }

  &_container--video &_content {
    position: static;
  }

  &_content {
    background: @app-background-base;
    padding: 2.5rem;
    position: absolute;
    right: 3rem;
    top: 3rem;

    a {
      color: @text-color-base;
      text-decoration: none;
    }
  }

  &_headline {
    margin: 0 0 2rem 0;
    padding: 0;
  }

  &_media {
    font-size: 0;
    line-height: 1;

    img {
      height: auto;
      width: 100%;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    float: none;

    &_container {
      border: none;
      margin-bottom: 1.5rem;
    }

    &_headline {
      font-size: 1.5rem;
      margin-bottom: .3rem;
    }

    &_media {
      width: 100%;
    }

    &_content {
      padding: 1rem 0 0 0;
      position: static;
      width: 100%;
    }

    &_text {
      p {
        margin: 0;
      }
    }
  }
}
