* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: @app-background-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-family-headline-bold;
  text-transform: uppercase;
}
