* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: @app-background-base;
  color: @text-color-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-family-headline-bold;
  text-transform: uppercase;
}

img {
  font-size: 0;
  line-height: 1;
  margin: 0;
  padding: 0;
}
