.material {
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;

  &_item + &_item {
    margin-top: 2rem;
  }

  &_preview,
  &_content {
    float: left;
  }

  &_preview {
    min-height: 8rem;
    position: relative;
    width: 25%;

    img {
      height: auto;
      max-width: 100%;
    }

    &-inner {
      height: 100%;
      left: 0;
      padding: 1rem;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &_content {
    border-top: 3px solid @border-color-base;
    padding: .5rem 0 0 1rem;
    width: 75%;
  }

  &_item--en &_content {
    border-color: rgb(0, 158, 188);
  }

  &_item--en &_preview-inner {
    background: rgb(0, 158, 188);
  }

  &_item--fr &_content {
    border-color: rgb(142, 183, 79);
  }

  &_item--fr &_preview-inner {
    background: rgb(142, 183, 79);
  }

  &_item--ar &_content {
    border-color: rgb(0, 138, 208);
  }

  &_item--ar &_preview-inner {
    background: rgb(0, 138, 208);
  }

  &_item--gr &_content {
    border-color: rgb(142, 216, 248);
  }

  &_item--gr &_preview-inner {
    background: rgb(142, 216, 248);
  }

  &_item--de &_content {
    border-color: rgb(0, 70, 98);
  }

  &_item--de &_preview-inner {
    background: rgb(0, 70, 98);
    color: rgb(255, 255, 255);
  }

  &_item--fa &_content {
    border-color: rgb(215, 176, 5);
  }

  &_item--fa &_preview-inner {
    background: rgb(215, 176, 5);
  }

  &_item--so &_content {
    border-color: rgb(218, 82, 31);
  }

  &_item--so &_preview-inner {
    background: rgb(218, 82, 31);
  }

  &_item--ti &_content {
    border-color: rgb(186, 1, 123);
  }

  &_item--ti &_preview-inner {
    background: rgb(186, 1, 123);
  }

  &_item--pa &_content {
    border-color: rgb(54, 142, 62);
  }

  &_item--pa &_preview-inner {
    background: rgb(54, 142, 62);
  }

  &_item--it &_content {
    border-color: rgb(155, 15, 14);
  }

  &_item--it &_preview-inner {
    background: rgb(155, 15, 14);
  }

  &_item--es &_content {
    border-color: rgb(126, 94, 67);
  }

  &_item--es &_preview-inner {
    background: rgb(126, 94, 67);
  }

  &_download {
    display: inline-block;
    margin-top: 1rem;
  }

  &_title {
    font-family: @font-family-headline-bold;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &_description {
    margin: .3rem 0 0 0;
  }
}

@media only screen and (max-width: 450px) {
  .material {
    &_preview {
      display: none;
    }

    &_content {
      padding: 0;
      width: 100%;
    }
  }
}
