.post {
  margin-bottom: 1rem;

  &_grid {
    margin-right: -1rem;
  }

  &_grid & {
    padding-right: 1rem;
  }

  &_title {
    color: @text-color-base;
    display: block;
    margin: 0;

    &--link {
      display: block;

      &:hover > strong,
      &:focus > strong {
        text-decoration: underline;
      }
    }
  }

  &_date,
  &_category {
    display: block;
    font-family: @font-family-base;
    font-size: .9rem;
    font-style: italic;
  }

  &_category {
    margin-bottom: .35rem;
    text-transform: none;
  }

  &_image {
    display: block;
    height: auto;
    margin: 0 0 1rem 0;
    width: 100%;
  }

  &_title + &_date {
    margin-top: .35rem;
  }

  &--full {
    padding: 0;
  }

  &--full &_teaser {
    font-weight: bold;
  }

  &--full &_image + &_title {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  .post {
    padding: 0;
    width: 100%;

    & + & {
      margin-top: 1.5rem;
    }
  }
}
