html[dir="rtl"] {
  .header {
    &_brand,
    &_logo {
      float: right;
    }

    &_phone {
      left: 0;
      right: auto;

      &-inner {
        margin-left: 0;
        margin-right: 1rem;
      }
    }

    &_navigation {
      &-container > .menu-item > a {
        padding-left: 3rem;
        padding-right: .5rem;
      }
    }
  }

  .widget {
    &_rss .rss-date {
      left: auto;
      right: 0;
    }
  }

  .material {
    &_preview,
    &_content {
      float: right;
    }

    &_content {
      padding-left: 0;
      padding-right: 1rem;
    }
  }
}
