.widget {
  /* Full recent posts */
  &_full-recent-posts {
    .post_teaser {
      font-family: @font-family-base;
      font-size: .95rem;
      line-height: @line-height-content;
    }

    &_post {
      border-top: none;
    }

    &_post + &_post {
      border-top: 4px solid @brand-color-base;
    }
  }

  /* Text Widget */
  &_text {
    font-family: @font-family-base;
    font-size: .95rem;
    line-height: @line-height-content;

    img {
      max-width: 100%;
    }
  }

  /* RSS-Widget */
  &_rss {
    ul {
      list-style: none;
      padding: 0;

      a {
        color: @text-color-base;
        font-family: @font-family-base;
        font-size: .95rem;
        line-height: @line-height-content;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    li {
      padding: .2rem 0;
      padding-top: 1.3rem;
      position: relative;
    }

    li + li {
      margin-top: 1rem;
    }

    .headline > a.rsswidget:first-child {
      display: none;
    }

    .rss-date {
      font-size: .9rem;
      font-style: italic;
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .widget {
    &_text {
      img {
        max-width: 40%;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .widget {
    &_text {
      img {
        max-width: 100%;
      }
    }
  }
}
